@use "/src/app/scss/variables" as *;

.dimmed_layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.27);
    z-index: 10000;
}

.modal {
    box-sizing: border-box;
    position: absolute;
    width: 653px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 16px;
    padding: 24px 32px;
    @media (max-width: 769px) {
        width: 90%;
    }
}

.top {
    display: flex;
    width: 100%;
    align-items: center;
    @media (max-width: 769px) {
        flex-direction: column;
        align-items: start;
        gap: 12px;
    }
}

.day {
    width: 65px;
    height: 32px;
    line-height: 32px;
    border-radius: 8px;
    background-color: #000;
    text-align: center;

    @include text-style('b3', 'white');
}

.title {
    margin-left: 11px;
    line-height: 24px;

    @include text-style('s3-1', 'black');
}

.category {
    display: flex;
    align-items: center;
    margin-left: 8px;

    &.type_tourist {
        @include text-style('b3', 'red');

        &::before {
            width: 15px;
            height: 15px;
            background: url(/ico_tourist_15x15.svg) no-repeat;
            margin-right: 2px;
            content: "";
        }
    }
}

.img {
    width: 100%;
    height: 248px;
    object-fit: cover;
    object-position: center;
}

.img_wrap {
    position: relative;
    width: 589px;
    flex-shrink: 0;
    height: 248px;
    background: #f7f7fb;
    border-radius: 12px;
    overflow: hidden;
    @media (max-width: 769px) {
        width: 100%;
    }

    &.is_edit {
        &:not(:has(img)) {
            background: #f7f7fb url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='161' height='49' fill='none'%3E%3Cpath stroke='%239CA3AF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M93 14.414v3.875c0 2.8 0 4.2-.545 5.27a5 5 0 0 1-2.185 2.185c-1.07.545-2.47.545-5.27.545h-9c-2.8 0-4.2 0-5.27-.545a5 5 0 0 1-2.185-2.185C68 22.489 68 21.089 68 18.289v-6.5c0-2.8 0-4.2.545-5.27a5 5 0 0 1 2.185-2.185c1.07-.545 2.47-.545 5.27-.545h5.125m8.125 6.25v-7.5M85.5 6.29H93m-7.5 8.75a5 5 0 1 1-10 0 5 5 0 0 1 10 0Z'/%3E%3Cpath fill='%239CA3AF' d='M69.703 45.156c-1.969 0-3.117-1.582-3.117-4.36 0-2.753 1.172-4.358 3.117-4.358s3.117 1.605 3.117 4.359c0 2.777-1.16 4.36-3.117 4.36Zm0-1.113c1.149 0 1.828-1.125 1.828-3.246 0-2.11-.691-3.27-1.828-3.27s-1.828 1.16-1.828 3.27c0 2.121.68 3.246 1.828 3.246ZM81.996 36.156l-2.73 10.16h-1.114l2.73-10.16h1.114ZM90.762 45.156c-1.758 0-3.012-.949-3.059-2.332h1.313c.046.75.785 1.219 1.734 1.219 1.02 0 1.77-.563 1.77-1.383 0-.832-.704-1.441-1.91-1.441h-.727v-1.055h.726c.961 0 1.641-.539 1.641-1.348 0-.773-.574-1.3-1.477-1.3-.855 0-1.605.468-1.64 1.242H87.89c.035-1.383 1.312-2.32 2.894-2.32 1.664 0 2.719 1.054 2.707 2.308.012.961-.586 1.664-1.5 1.887v.058c1.16.164 1.828.938 1.828 2.016 0 1.418-1.3 2.45-3.058 2.45Z'/%3E%3C/svg%3E") center/161px 49px no-repeat;
    
        }

        &:has(img) .badge_editable {
            display: block;
        }
    }

    .badge_editable {
        display: none;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 15px;
        right: 15px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Crect width='24' height='24' fill='%23000' fill-opacity='.15' rx='4'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m18.667 5.333-9.584 9.584m0-5.834 9.584 9.584M16.583 12h.009m3.741 0h.009M7 4.5a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm0 10a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z'/%3E%3C/svg%3E") no-repeat;
    }

    .upload_btn {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }

    img {
        object-fit: cover;
        object-position: center;
    }
}

.desc_wrap {
    margin-top: 20px;
    background-color: #f7f7fb;
    border-radius: 12px;
    padding: 12px 20px;
}

.desc {
    @include text-style('b2-1', 'black');
    
    display: -webkit-box; /* 웹킷 기반 브라우저에서 플렉스 박스 레이아웃 활성화 */
    -webkit-line-clamp: 3; /* 텍스트를 3줄로 제한 */
    -webkit-box-orient: vertical; /* 박스의 내용이 세로로 흐르도록 설정 */
    overflow: hidden; /* 지정된 줄 수를 초과하는 텍스트 숨기기 */
    text-overflow: ellipsis;
    line-height: 22px;
    overflow: hidden;
    height: 66px;
}

.save_btn {
    @include text-style('b3', 'white');

    width: 64px;
    height: 30px;
    background-color: #3c76f1;
    border-radius: 60px;
    margin: 20px 0 0 525px;
    line-height: 30px;
}

.close_btn {
    position: absolute;
    top: 20px;
    right: 28px;
    width: 32px;
    height: 32px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23111' stroke='%23000' d='M5.813 5.538a.278.278 0 0 1 .185.062l5.648 5.656.353.354.354-.353 5.653-5.653a.279.279 0 0 1 .367.023.277.277 0 0 1 .02.367l-5.65 5.652-.354.354 6.004 6.004a.278.278 0 0 1-.02.368.279.279 0 0 1-.372.019l-6-6.001-.354.352-5.678 5.67-.014.014-.013.015a.278.278 0 0 1-.407.016.277.277 0 0 1-.062-.096.277.277 0 0 1 .077-.311l.015-.013.014-.014 5.677-5.67.355-.353-.354-.354-5.65-5.657a.278.278 0 0 1 .02-.37.278.278 0 0 1 .186-.08Z'/%3E%3C/svg%3E") center/24px 24px no-repeat;
}

.flicking_wrap {
    position: relative;
    width: 589px;
    overflow: hidden;
    margin-top: 26px;
    @media (max-width: 769px) {
        width: 100%;
    }
}

.prev_btn, .next_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 32px;
    height: 48px;
    background: rgba(0, 0, 0, 0.4) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m14 3-7 7 7 7'/%3E%3C/svg%3E") center/20px 20px no-repeat;
}

.next_btn {
    left: auto;
    right: 0;
    background: rgba(0, 0, 0, 0.4) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 17 7-7-7-7'/%3E%3C/svg%3E") center/20px 20px no-repeat;
}

.dot_wrap {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e2e2e2;

    &.is_active {
        width: 20px;
        background-color: #3c76f1;
        border-radius: 8px;
    }
}

.textarea {
    resize: none;
    width: 100%;
    min-height: 68px;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #f7f7fb;
    border: 0;
    border-radius: 12px;
    box-sizing: border-box;
    line-height: 22px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        @include text-style('b2-1','gray1');
    }
}