.searchTerm {
  cursor: pointer;
  padding: 32px 40px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }
}

.container {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-top: 60px;
  height: 38px;
}

.subTitle {
  color: #767676;
  text-align: center;
  font-size: 16px;
  margin-top: 4px;
  height: 22px;
}

.spacer {
  height: 28px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 60px;
  border: 2px solid #F1F3F5;
  border-radius: 12px;
  width: 100%;
  max-width: 540px;
  height: 60px;
  padding: 16px 0;
  box-sizing: border-box;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);

  @media (max-width: 769px) {
    width: 90%;
  }
}

.searchInput {
  font-size: 16px;
  width: 100%;
  padding-right: 20px;
}

.listContainer {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 15px;

  @media (max-width: 769px) {
    gap: 10px;
    margin-bottom: 10px;
  }
}

.item {
  cursor: pointer;
  width: 480px;
  flex-shrink: 0;
  max-height: 332px;
  border-radius: 20px;
  overflow: hidden;

  @media (max-width: 769px) {
    width: 150px;
    max-height: 150px;
    border-radius: 10px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.relatedSearchTherms {
  position: sticky;
  margin-top: 20px;
  border: 2px solid #E2E2E2;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  font-size: 16px;
  background: #fff;
}

.hidden {
  opacity: 0;
}