@use "/src/app/scss/variables" as *;

.date_pick {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
    z-index: 2;
    overflow-y: auto;

    &.is_active {
        transform: translateX(-100%);
    }

    @media (max-width: 769px) {
        width: 100%;
        height: 100%;
    }
}

.main_title {
    @include text-style('s1', 'black');

    margin-top: 120px;
    line-height: 38px;

    @media (max-width: 769px) {
        font-size: 25px;
        margin-bottom: 10px;
        text-align: center;
    }
}

.desc {
    @include text-style('b2-1', 'gray1');

    margin-top: 4px;
    line-height: 22px;


    .color {
        color: #3c76f1;
    }
}

.custom_header_container {
    @include text-style('s3-1', 'black');

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;

    div {
        margin: 0 20px;
    }

    button {
        width: 20px;
        height: 20px;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='%23111' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m13 15-5-5 5-5'/%3E%3C/svg%3E") no-repeat;

        &:last-child {
            transform: rotate(180deg);
        }
    }
}

.nav_arrow_btn_left,
.nav_arrow_btn_right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 48px;
        background-color: rgba($color: #000000, $alpha: .4);

        &::before {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-top: 2px solid #fff;
            border-left: 2px solid #fff;
        }
    }

    @media (max-width: 769px) {
        position: absolute;
        top: 25px;
        z-index: 100;
    }
}

.nav_arrow_btn_left {
    margin-right: 42px;

    button {
        &::before {
            transform: rotate(-45deg);
            margin-left: 5px;
        }
    }

    @media (max-width: 769px) {
        left: 0;
    }
}

.nav_arrow_btn_right {
    margin-left: 42px;

    button {
        &::before {
            transform: rotate(135deg);
            margin-right: 5px;
        }
    }

    @media (max-width: 769px) {
        right: 0;
    }
}

.next_btn {
    @include text-style('b2-2', 'gray5');

    width: 68px;
    margin-top: 32px;
    background-color: #f1f3f5;
    border-radius: 50px;
    line-height: 42px;
    pointer-events: none;

    &.is_active {
        pointer-events: initial;
        background-color: #3c76f1;
        color: #fff;
    }

    @media (max-width: 769px) {
        margin-bottom: 32px;
    }
}

.plan_title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    z-index: 1;

    .next_btn {
        margin-top: 32px;
    }

    @media (max-width: 769px) {
        padding: 0 32px;
    }
}

.input_wrap {
    position: relative;
    min-width: 664px;
    margin-top: 80px;
    background-color: #f7f7fb;
    border-radius: 65px;
    padding: 20px;

    @media (max-width: 769px) {
        min-width: 100%;
    }
}

.input {
    @include text-style('b1', 'black');

    width: calc(100% - 120px);
    line-height: 25px;
    text-align: center;
    background-color: #f7f7fb;

    &::placeholder {
        @include text-style('b1', 'gray1');
    }

    @media (max-width: 769px) {
        text-align: start;
    }
}

.is_public_btn {
    @include text-style('b1', 'blue');

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    display: flex;
    align-items: center;
    line-height: 25px;

    &::before {
        width: 20px;
        height: 20px;
        margin-right: 4px;
        background: url(/ico_unlock_40x40.png) 0 0/20px 20px no-repeat;
        content: "";
    }

    &[aria-selected=true] {
        &::before {
            background: url(/ico_lock_40x40.png) 0 0/20px 20px no-repeat;
        }
    }
}

.calendar {
    min-height: 404px;

    :global {
        .react-datepicker__navigation {
            display: none;
        }

        .react-datepicker {
            display: flex;
            flex-wrap: wrap;
            gap: 100px;
        }

        .react-datepicker__week:not(:last-child) {
            margin-bottom: 8px;
        }

        .react-datepicker__day {

            // 기본 hover 스타일
            &:hover {
                border-radius: 50%;
                background: #3c76f1 !important;
                color: #fff;
            }

            // 상태별 스타일
            &--disabled {
                opacity: 0.3;
            }

            &--today {
                background: transparent;
            }

            &--keyboard-selected,
            &--selected,
            &--range-end,
            &--in-range,
            &--in-selecting-range {
                border-radius: 50%;
            }

            &--in-range,
            &--in-selecting-range {
                background: rgba(#3c76f1, 0.1);
            }

            &--selecting-range-start,
            &--selected,
            &--range-end {
                background: #3c76f1 !important;
                color: #fff !important;
            }
        }
    }
}