@use "/src/app/scss/variables" as *;

.header_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    z-index: 5000;
}

.blur_bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100vw;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
}

.logo {
    width: 74px;
    height: 40px;
    background: url(/img_logo.png) center/74px 40px no-repeat;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 21px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    cursor: pointer;

    div {
        width: 24px;
        height: 3px;
        background-color: #000;
        transition: all 0.3s ease-in-out;
    }

    &.active {
        div:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        div:nth-child(2) {
            opacity: 0;
        }

        div:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}

.nav_area {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    transition: max-height 0.35s ease-in-out, padding-top 0.35s ease-in-out, padding-bottom 0.35s ease-in-out;

    &.mobile_nav_open {
        max-height: 500px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .nav {
        padding: 8px 32px;
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .nav_area {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background-color: transparent;
        padding: 0;
        gap: 28px;

        max-height: none;
        overflow: visible;

        .nav {
            padding: 0;
        }
    }
}

@media (min-width: 1024px) {
    .header_wrap {
        max-width: 1380px;
        margin: 0 auto;
    }

    .nav_area {
        gap: 48px;
    }
}