// blind 
@use "/src/app/scss/variables" as *;

.blind {
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
overflow: hidden;
}

// reset css

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select,
button,
table {
  font-size: 12px;
  line-height: 1.2;
}

main {
  flex: 1;
  min-height: 0;
}

body {
  position: relative;
  -webkit-text-size-adjust: none;
  display: flex;
  flex-direction: column;
  word-break: break-all;

  &[data-mode='dimmed'] {
    overflow: hidden;
  }
}

button {
  cursor: pointer;
}

img,
fieldset {
  border: 0;
}

img {
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

em,
address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: 0;
  background-color: initial;
}

table {
  border-collapse: collapse;
}

i {
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

.flicking-camera {
  display: flex;
}

input {
  border: 0;
  
  &:focus {
    outline: 0;
  }
}

body, html {
  height: 100%;
}

// datepicker custom css

html {
  .react-datepicker {
    border: 0;
    font-family: Pretendard sans-serif;
  }

  .react-datepicker__header {
    background-color: transparent;
    border: 0;
    padding: 0 0 12px 0;
  }

  .react-datepicker__day-names {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    @include text-style('b2-2','black');

    width: 44px;
    line-height: 44px;
    margin: 0;

    &:first-child {
      color: #f95353;
    }

    &:last-child {
      color: #3c76f1;
    }

    & + .react-datepicker__day-name,& + .react-datepicker__day, & + .react-datepicker__time-name {
      margin-left: 8px;
    }
  }

  .react-datepicker__month {
    margin: 0;
  }

  .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    @include text-style('s3-1', 'black');

    line-height: 24px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 25px !important;
  }
}
