@use "/src/app/scss/variables" as *;

.section_1 {
  height: 764px;
}

.section_1_2 {
  position: relative;
  overflow: hidden;
  margin: 66px auto;
  border-radius: 20px;
  height: 80vh;
  max-width: 1380px;

  @media (max-width: 1500px) {
    margin: 66px 24px 0;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.42));
    content: "";

    @media (max-width: 769px) {
      background: rgba(0, 0, 0, 0.42);
    }
  }
}

.description {
  position: absolute;
  top: 100px;
  right: 60px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 28px;
  text-align: right;
  align-items: end;
  z-index: 1000;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

  p {
    font-size: 60px;
    font-weight: bold;
  }

  span {
    font-size: 28px;
  }

  button {
    background: #fff;
    font-weight: 500;
    font-size: 18px;
    border-radius: 50px;
    padding: 15px 25px;
  }

  .br {
    display: none;
  }

  @media (max-width: 769px) {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    align-items: center;
    width: 100%;
    left: 0;
    gap: 18px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

    p {
      font-size: 26px;
      line-height: 40px;
    }

    span {
      font-size: 18px;
      line-height: 30px;
    }

    button {
      font-size: 16px;
      padding: 10px 20px;
    }

    .br {
      display: inline;
    }
  }
}

.dot_wrap {
  position: absolute;
  display: flex;
  right: 30px;
  bottom: 32px;
  gap: 8px;

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;

    &.is_active {
      background-color: #000;
    }

    &:has(~ .is_active) {
      background-color: #000;
    }
  }
}

.img_wrap {
  width: 100%;
  flex-shrink: 0;
  height: 80vh;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section_2_2 {
  margin: 120px 24px;

  @media (min-width: 769px) {
    margin: 120px;
  }

  .title {
    @include text-style('h3', 'black');

    margin: 0 auto;
    text-align: center;
  }

  .input_wrap {
    position: relative;
    width: auto;
    padding: 19px 32px 19px 56px;
    margin: 24px 0;
    border: 1px solid #f1f3f5;
    border-radius: 12px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);

    @media (min-width: 769px) {
      margin: 25px auto 60px;
      width: 540px;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 20px;
      width: 28px;
      height: 28px;
      transform: translateY(-50%);
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'%3E%3Cpath stroke='%23767676' stroke-miterlimit='10' stroke-width='2' d='M13 21a8 8 0 1 0 0-16 8 8 0 0 0 0 16Z'/%3E%3Cpath fill='%23767676' d='M22.293 23.707a1 1 0 0 0 1.414-1.414l-1.414 1.414ZM18 18l-.707.707 5 5L23 23l.707-.707-5-5L18 18Z'/%3E%3C/svg%3E") no-repeat;
      content: "";
    }
  }

  .input {
    width: 100%;
    line-height: 22px;
    font-weight: 500;
    color: #000;
    font-size: 16px;

    &::placeholder {
      color: #767676;
    }
  }
}

.section_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 272px;
  background-color: #fff;
  text-align: center;

  .title {
    line-height: 48px;

    @include text-style('h3', 'black');
  }

  .desc {
    margin-top: 3px;
    line-height: 22px;

    @include text-style('b2-1', 'gray1');
  }
}

.section_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 452px;
  background-color: #f7f7fb;

  .item {
    display: flex;
    justify-content: center;
    width: 100%;
    line-height: 38px;

    .img {
      width: 290px;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    .info_area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 75px;
    }

    .title {
      @include text-style('s1', 'black');
    }

    .desc {
      margin-top: 10px;
      line-height: 24px;

      @include text-style('s3-1', 'gray1');
    }

    .link_area {
      display: flex;
      justify-self: flex-end;
      margin-top: 24px;

      a {
        display: block;
        padding: 0 20px;
        border-radius: 21px;
        line-height: 42px;
      }
    }

    .youtube_link {
      margin-right: 12px;
      background-color: #fff;

      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

      @include text-style('b2-2', 'black');
    }

    .follow_link {
      background-color: #3c76f1;

      @include text-style('b2-2', 'white');
    }
  }
}

.section_1_image {
  display: block;
  height: 764px;
  background: url("/img_section_1_758x566.png") 0 0/1024px 764px no-repeat;
}

.link {
  display: block;
}

@media (min-width: 1024px) {
  .section_1 {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
}

.section_5 {
  margin: 120px 0 60px;
  background-color: #fff;

  .title {
    line-height: 48px;

    @include text-style('h3', 'black');
  }

  .desc {
    margin-top: 10px;
    line-height: 22px;

    @include text-style('b2-1', 'gray1');
  }


  .link {
    display: inline-block;
    margin-top: 16px;
    padding: 0 20px;
    background-color: #3c76f1;
    border-radius: 21px;
    line-height: 42px;
    vertical-align: top;

    @include text-style('b2-2', 'white');
  }

  .top_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 24px;
  }

  .list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      flex-wrap: nowrap;
    }

    .item {
      width: 100% !important;
      padding: 24px;
      background-color: #f7f7fb;
      border-radius: 20px;

      @media (min-width: 768px) {
        width: calc((100% - 32px)/ 2) !important;
      }

      .img {
        width: 100%;
        height: 366px;
        border-radius: 16px;
        object-fit: cover;
        object-position: center;
      }

      &+.item {
        margin-left: 0px;

        @media (min-width: 768px) {
          margin-left: 32px;
        }
      }

      .info_area {
        margin-top: 32px;

        .day_wrap {
          text-align: right;
        }

        .day {
          display: inline-block;
          padding: 0 16px;
          background-color: #000;
          border-radius: 16px;
          line-height: 32px;
          vertical-align: top;

          @include text-style('b3', 'white');
        }

        .sub_title {
          line-height: 28px;

          @include text-style('s3-2', 'black');
        }

        .sub_desc {
          margin-top: 12px;
          line-height: 20px;

          @include text-style('b3', 'gray1')
        }
      }
    }
  }

  @media (min-width: 1024px) {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
}

.section_6 {
  margin: 148px 0 200px;
  background-color: #fff;
  text-align: center;

  .title {
    line-height: 48px;

    @include text-style('h3', 'black');
  }

  .desc {
    margin-top: 8px;
    line-height: 22px;

    @include text-style('b2-1', 'gray1');
  }

  .link_wrap {
    text-align: right;
  }

  .link {
    display: inline-block;
    margin-top: 16px;
    padding: 0 20px;
    background-color: #3c76f1;
    border-radius: 21px;
    line-height: 42px;
    vertical-align: top;

    @include text-style('b2-2', 'white');
  }

  .list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 769px) {
      position: inherit !important;
      height: auto !important;
    }

    .item {
      box-sizing: border-box;
      padding: 24px;
      background-color: #f7f7fb;
      border-radius: 20px;

      @media (max-width: 769px) {
        width: 100% !important;
        position: inherit !important;
        transform: none !important;
        text-align: start;
      }

      .img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      .profile {
        display: flex;
        align-items: center;
      }

      .nickname {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include text-style('b1', 'black')
      }

      .plan_title {
        margin-top: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 28px;

        @include text-style('s3-2', 'black')
      }

      .plan_desc {
        margin-top: 8px;
        line-height: 19px;

        @include text-style('b3', 'gray1')
      }
    }
  }

  @media (min-width: 1024px) {
    padding-left: calc(50% - 480px);
    padding-right: calc(50% - 480px);
  }
}

body:has(.section_1) {
  height: auto;
}